@import reset
@import url('https://fonts.googleapis.com/css?family=Roboto')

//colors
$primary-dark: #102027
$primary-lighter: #37474f
$primary-light: #62727b
$text-light: #ffffff
$text-darker: #e0e0e0

//margins
$base-margin: 40px

//widths
$sidebar-width: 100px

html
  width: 100%
  height: 100%
  background: $primary-dark

h1,h2,h3
  color: $text-light
  margin: 0
  letter-spacing: 1.5px
  font-family: 'Roboto', regular

p
  color: $text-darker
  letter-spacing: 0.5px
  font-family: 'Roboto', regular

.fa-icon 
  width: 3em
  height: 3em 



